---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Working on it.">
	<main>
		<h1>Working on it.</h1>
		<p>In the meantime, find me here:
			<ul>
				<li><a href="https://twitter.com/gregoralbrecht">Twitter</a></li>
				<li><a href="https://read.cv/gregoralbrecht">My CV</a></li>
				<li><a href="https://bento.me/gregoralbrecht">Bento</a></li>
				<li><a href="https://github.com/gregoralbrecht">GitHub</a></li>
			</ul>
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	main a {
		color: white;
	}
</style>
